@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  overflow: hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  margin-right: 10px;

}

@media (hover: hover) {
  a:hover {
    border-bottom: 2px solid #00BD7E;
  }
}

.u-padding-left-and-right-20px {
  padding-left: 20px;
  padding-right: 20px;
}

.u-margin-top-and-bottom-20px {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-pointer-cursor {
  cursor: pointer;
}

.u-pointer-cursor:hover {
  color: white;
}



